@model Camp.Mvc.Swatter.Aggregates.Flies.FlyDetailsAggregate

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    @Html.Partial("_FlyDetails", Model)
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new {id = Model.Fly.Id}) |
    @Html.ActionLink("Back to List", "Index")
</p>