﻿@model Camp.Mvc.Swatter.Models.HomeModel

<html>
<head>
    <title>Swatter</title>
    <meta charset="utf-8"/>
</head>
<body>
Hello, @Model.UserName<br/>
Let's snatch some flies!
<hr/>
Runs on @Model.MachineName @@ @Model.DateTime
</body>
</html>