body {
    padding: 0;
    margin: 0;
    
}
nav, footer {
    background-color: yellowgreen;
    padding: 5px;
    margin: 0;
}
h2 {
    border-bottom: solid yellowgreen 3px;    
}
hr {
    background: yellowgreen;
    height: 5px;
    margin: 0;
}
